<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ff-style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='extra-style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Raphael · Full Fact</title>
    <script src="//cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="{{ url_for('routes.get_home') }}" class="navbar-brand">Raphael{% if request.path != '/' %}<span class="d-none d-lg-inline"> · Find health misinformation in videos</span>{% endif %}</a>

      <span class="navbar-brand m-0">Full Fact AI</span>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} text-center fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>
