{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8">
    <h2 class="text-center">Find health misinformation in YouTube videos</h2>

    <form method="POST" action="{{ url_for('routes.post_youtube_url') }}" class="justify-content-center my-4">
      <div class="form-group">
        <div class="input-group">
          <input type="text" name="q" placeholder="Enter a YouTube URL" class="form-control form-control-lg mr-sm-2" autofocus />
          <button type="submit" class="btn btn-lg btn-primary">Analyse</button>
        </div>
      </div>
    </form>
    <h3>History</h3>
    <div class="list-group list-group-flush">
    {% for run in runs %}
      <a class="list-group-item list-group-item-action" href="{{ url_for('routes.get_video_analysis', run_id=run['id']) }}"><span class="text-muted"><em>{{ run['timestamp'][:10] }}</em></span> · {{ run['metadata']['title'] }}</a>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
