{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center sticky-top bg-white">
  <div class="col-lg-6">
    <div id="player"></div>
    <script async type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script>
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        width: '100%',
        videoId: '{{ youtube_id }}',
        playerVars: {
          'playsinline': 1
        }
      });
    }

    function jumpTo(ev, start, end) {
      ev.preventDefault();
      player.loadVideoById({'videoId': '{{ youtube_id }}', 'startSeconds': start, 'endSeconds': end});
      return false;
    }
    </script>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col">

    {% if status == 'completed' %}<h3 class="mt-2">{{ claims | count }} claims found</h3>{% endif %}

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Claim</th>
          <th>Sentence</th>
        </tr>
      </thead>
      <tbody>
      {% for claim in claims %}
        <tr class="position-relative">
          <td>
            <a class="stretched-link" href="https://www.youtube.com/watch?v={{ youtube_id }}&t={{ claim['offset_start_s'] }}s" onclick="jumpTo(event, {{ claim['offset_start_s'] }}, {{ claim['offset_end_s'] }})">
              <strong>{{ loop.index }}.</strong>
              {{ claim['claim'] }} (
              {%- if claim['offset_start_s'] // 3600 -%}
                {{ '%02d' % (claim['offset_start_s'] // 3600) }}:
              {%- endif -%}

              {{ '%02d' % (claim['offset_start_s'] % 3600 // 60) }}:{{ '%02d' % (claim['offset_start_s'] % 60) }})
            </a>
          </td>
          <td>{{ claim['raw_sentence_text'] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
